@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif !important;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: black; /* Replace with your desired color */
}

#eyes {
  position: absolute;
  top: 50%;
  left: 16%;
  transform: translateY(-90px);
  width: 100%;
  text-align: center;
  z-index: 1000;
}

.eye {
  width: 36px;
  height: 36px;
  background: #1d1e1c;
  display: inline-block;
  margin: 32px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.ball {
  width: 12px;
  height: 12px;
  background: #fff4e8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

/* Center the SVG */
.visage {
  height: 100%;
  width: 100%;
  z-index: 999;
}

/* Style for the face */
.cls-1 {
  fill: #4b3de3;
}

.cls-2 {
  fill: #000000;
}

.cls-3 {
  fill: #f29655;
}

.cls-4 {
  fill: #fcd4a4;
}

.cls-5 {
  fill: #fff4e8;
}

.cls-6 {
  fill: #70141b;
}

.cls-7 {
  fill: #4b3de3;
}

.cls-8 {
  fill: #fcd4a4;
}

.lh-normal {
  line-height: normal;
}
.Typewriter {
  font-size: 64px;
  font-family: "Inter", sans-serif !important;
}
